@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import custom font */
@import url('https://rsms.me/inter/inter.css');

/* Smooth scroll behavior for the entire document */
html {
    scroll-behavior: smooth;
}

/* Set the default font family for the body */
body {
    font-family: 'Inter', sans-serif;
}

/* Styling for anchor links globally */
a {
    position: relative;
    text-decoration: none; /* Remove default underline for links */
}

/* Adding an underline effect on hover with a smooth transition */
a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    opacity: 0;
    height: 1px;
    background-color: currentColor; /* Uses the current text color */
    transition: opacity 0.3s ease, background-color 0.3s ease; /* Smooth transition */
}

/* Underline becomes visible on hover */
a:hover::after {
    opacity: 1;
}

/* Utility for links with small underline offset */
.underline-offset-small::after {
    bottom: 6px; /* Adjust the offset for the underline */
}

/* Utility to remove the underline effect */
.no-underline-effect::after {
    content: none; /* Completely removes the underline */
}


.gif-container {
      display: flex;
      justify-content: center;
      gap: 10px;
      margin-top: 10px;
  }
.gif-item {
    text-align: center; /* Centers text and image */
}
.gif-item img {
    width: 200px; /* Adjust size as needed */
    height: auto;
    display: block;
    margin: 0 auto;
}
.gif-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 2px;
}


.gif-row {
  display: flex;
  justify-content: center;
  gap: 0.9%;
  flex-wrap: wrap; /* Optional: allows wrapping on smaller screens */
  margin-top: 15px;
}
.full-gif {
  width: 49%;
  position: relative;
  display: inline-block;
}
.full-gif img {
    height: auto;
    display: block;
    margin: 0 auto;
    clip-path: inset(6% 0 0 0); /* top right bottom left */
}
.full-gif-label {
  position: absolute;
  font-size: 18px;
  font-weight: bold;
  top: -15%;
}
.label-1 { left: 10.5%; }  /* center of first quarter */
.label-2 { left: 30.0%; }  /* center of second quarter */
.label-3 { left: 55.5%; }  /* center of third quarter */
.label-4 { left: 83.5%; }  /* center of fourth quarter */



.image-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Adjust spacing between images */
    margin-top: 20px;
}
.image-container img {
    width: 50%; /* Adjust size as needed */
    height: auto;
    display: block;
}
.subtitle {
  font-size: 20px;
  font-weight: bold;
  padding-top: 5px;
  margin: 5px;
}
.image-with-title {
    width: 50%;
    text-align: center;
}
.image-with-title img {
    width: 100%;
    height: auto;
}
.image-title {
    font-size: 18px;
    font-weight: bold;
}
